.body{
	background-color: #99CCFF;
	height: 600px;
	width: 100%;
	text-align: center;
	display: none;
}
.main{
	margin: auto;
	position: relative;
	padding-top: 150px;
}
.next{
	position: absolute;top:220px;left:80%;
	cursor:pointer;
}
.loading{
	background-color: #99CCFF;
	height: 600px;
	width: 100%;
	text-align: center;
}
.img{
	padding-top: 200px;
	margin: auto;
}
.in{
	font: "微软雅黑";
	border-width: 0px;
	background-color: #99CCFF;
	font-size: 50px;
	color: white;
	text-align: center;
}
